	<aside>
	<div class="right-column">
		<img src="/logo.png" alt="ironhack logo" class="logo" />
		<p>This blog is an exercise for the Ironhack bootcamp.</p>
		<div class="write"><a href="/create_post">Write a post</a></div>
		<div class="write"><a href="/edit">Edit a post</a></div>

	</div>
	</aside>