<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">
	<title>Create Post - Lori's IronBlog</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>

<body>
	
	<div class="main">
	<div class="blog-body">

		<h1 class="maintitle">Create post - Lori's IronBlog</h1>

			
				

			

	</div>
	</div>

	<aside>
	<div class="right-column">

		<img src="logo.png" alt="ironhack logo" class="logo" />
		<p>This blog is an exercise for the Ironhack bootcamp.</p>

	</div>
	</aside>


</body>

</html>