<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">
	<title><% if @post.title %><%= post.title + " - " %>Lori's IronBlog<% end %></title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>