<%= erb :header %>
	<meta http-equiv="refresh" content="2; url=http://localhost:4567/" />
	<title>WTF? - Lori's IronBlog</title>
</head>

<body>
	
	<div class="main">
	<div class="blog-body">

		<h1 class="maintitle">Lori's IronBlog</h1>

			<h3>WTF?</h3>

	</div>
	</div>

<%= erb :aside %>



</body>

</html>